@import 'sass-loader!../scss/test-export-sass-to-css.scss';
body {
  background: #111;
  color: #fafafa;
}

.test-2 {
  composes: test from './test.css';
  background: magenta;
  display: flex;
}

/* composes from a scss file */
.whatever-2 {
  composes: whatever from 'sass-loader!../scss/test.scss';
  box-shadow: 0 0 0 black;
}

.test-p {
  composes: p from 'sass-loader!../scss/typo.scss';
}
